* {
  box-sizing: border-box; 
}

body {
  background-color: @color-tan;
}
h1 {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 860px;
  border-radius: 8px;
  margin-bottom: 80px;

  background: #fff;

  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
}

section[role="main"] {
  margin: 0 15px;
}